header {
    text-align: center;
    background-color: #122e34;
    color: #cad4d9;
    padding: 1px;
    max-width:100%;
}

a {
    color: #cad4d9;
    text-decoration: none;
    font-size: large;
    color: lightgray;
    transition: all 0.5s linear;
    margin: 5px;
}
table {
    margin: auto;
}
table,th,td{
    border: 3px solid #122e34;
    border-radius:15px;
    width:50%;
}
body {
    background-color: lightgray;
    background-repeat: no-repeat ;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    min-width:100%;
    min-height:100%;
    margin:0;
}
footer{
    text-align: center;
}
main{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
nav{
    max-width:100%;
    text-align:center;
    background-color:#122e34;
    padding:2px;
    text-decoration: none;
}
@media (min-width: 320px) and (max-width: 480) {
nav,a {
    align-items:center;
    background-color: #122e34;
    color: #cad4d9;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}
}
hr {    
color :lightgray;
}
nav a:hover {
    color: aqua;
}
form{
    border: 2px solid #122e34;
  border-radius: 8px;     
  padding: 20px;          
  width: 75%;             
  margin: 0 auto;         
  box-sizing: border-box;
  font-size: x-large;
  text-align: center;
}
body {
    color: #122e34;
}
.whole-body {
    margin : 0 50px;
}
.contactusbody {
    margin : 0 50px;
}
tr,td {
    text-align: center;
}
.addcourses {
    margin : 0 15px;
}
tr,th{
    background-color: #122e34;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
}
 @media (min-width: 480px) and (max-width:768px) {
nav,a {
    align-items:center;
    background-color: #122e34;
    color: #cad4d9;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}}